@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-3: #eee4de;
  --almost-black: #181818;
  --light-gray: #747171;
  --background-gray: #D9D9D9;
  --background-blue: #001D4A;
  --background-green: #0D1B1E;
  --foreground-green: #0F3840;
  --highlight-pink: #D900FF;
  --online: #37FF00;
  --size: 5rem;
  --shadow-soft: 0 4px 6px rgba(0, 0, 0, 0.05);
}

@theme inline {
  --color-background: var(--background);
  --color-almost-black: var(--almost-black);
  --color-light-gray: var(--light-gray);
  --color-background-gray: var(--background-gray);
  --color-background-blue: var(--background-blue);
  --color-background-green: var(--background-green);
  --color-foreground-green: var(--foreground-green);
  --color-highlight-pink: var(--highlight-pink);
  --color-online: var(--online);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.board {
  transform: rotateZ(0turn) rotateY(0.05turn) rotateX(-0.1turn);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--size) * 0.04);
  margin-left: 0;
  margin-bottom: calc(var(--size) * 0.1);
}

.key {
  position: relative;
  width: var(--size);
  height: var(--size);
  font-size: calc(var(--size) / 2);
  border: 0.1rem solid var(--background-3);
  border-radius: calc(var(--size) * 0.2);
  background: var(--background);
  box-shadow: 0.15rem 0.15rem 0 0 var(--background-3),
    0.3rem 0.3rem 0 0 var(--background-3),
    0.45rem 0.45rem 0 0 var(--background-3),
    0.6rem 0.6rem 0 0 var(--background-3);
  transition: 0.2s ease;

  &:hover {
    cursor: pointer;
    transform: translateX(0.1rem) translateY(0.1rem);
    box-shadow: 0.15rem 0.15rem 0 0 var(--background-3),
      0.3rem 0.3rem 0 0 var(--background-3),
      0.45rem 0.45rem 0 0 var(--background-3),
      0.5rem 0.5rem 0 0 var(--background-3);
  }

  &:active,
  &.isDown {
    cursor: grabbing;
    transform: translateX(0.4rem) translateY(0.4rem);
    box-shadow: 0.1rem 0.1rem 0 0 var(--background-3),
      0.1rem 0.1rem 0 0 var(--background-3),
      0.2rem 0.2rem 0 0 var(--background-3),
      0.2rem 0.2rem 0 0 var(--background-3);
    filter: blur(0.02rem);
  }
}
